* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, SF UI Text, San Fransico Text, San Francisco, Helvetica Neue, Helvetica, Segoe UI, sans-serif;
  user-select: none;
  overflow: hidden;
}
*:focus {
  outline: none;
}

pre code .react-ansi-style-green {
  color: limegreen;
}
pre code .react-ansi-style-bgRed {
  background-color: firebrick;
}

[hidden] {
  display: none !important
}
